
h1 {
  font-family: 'Luckiest Guy', cursive;
  text-align:center;
}

h3 {
  font-family: 'Luckiest Guy', cursive;

}

.wrapper {
   padding: 0;
   margin-left: 3em;
   width: 100%;
   height: 100%;
   position: absolute;
}

#container{
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  border: 1px gray;
}

.canvas-container {
  display:block;
  height: 600px;
  /*border: 1px solid red;*/
  position: relative;
  left:0;
  top: 0;
}

#path-canvas {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 0;
  float: left;
  background: #ecf0f1;
}

#nyan-cat-canvas {
  position: absolute;
  width: 80%;
  height: auto;
  z-index: 1;
  float: left;
  /*background: #ecf0f1;*/
  box-shadow:inset 0px 0px 10px rgba(0,0,0,.5);
}

.command-log {
  float: right;
  margin-right: -10px;
  position: relative;
  height: auto;
  display: block;
  width: 20%;
}

.command-log ul {
  list-style: none;
}

.form-holder {
  position: relative;
  width: 100%;
}

#nycatform {
  display: block;
  position: relative;
  float: left;
}

#textbox {
  width: 400px;
  height: 30px;
}

#nyancat-img {
  display: none;
}


